:root {
    --top: 70%;
    --margin: 50px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 800;
    line-height: 2rem;
    word-spacing: 3px;
    background-color: #5f77ed;
    background-image: radial-gradient(circle at center center, #5a7ee0, #4464bd), repeating-radial-gradient(circle at center center, #5a7ee0, #5a7ee0, 40px, transparent 90px, transparent 40px);
    background-blend-mode: multiply;
}

nav {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

nav a:link,
nav a:visited {
    color: #FCE1E5 !important;
    text-decoration: none;
    font-weight: 300;
    font-size: calc(0.5rem + 1vw);
    display: block;
    margin: 0 40px;
    opacity: 0.8;
    transition-duration: 0.2s;
}

nav a:hover {
    opacity: 1;
}

p,
h1 {
    text-shadow: 2px 2px #00000045;
}

h1 {
    font-size: calc(2rem + 3vw);
    margin: 5vh auto 8vh;
    color: #ffc982;
    text-align: center;
}

.carousel {
    width: 60vw;
    margin: 0 auto;
    border: 5px solid #ffdede;
}

p {
    font-size: 1.5rem;
    width: 80%;
    color: #ffdede;
}

.carousel {
    box-shadow: 3px calc(var(--margin) / 8) #ffdede;
    border-radius: 5px;
    max-width: 600px;
}

.carousel img {
    height: 40vh;
    object-fit: cover;
}

footer {
    color: #ffdede;
    font-weight: 300;
    bottom: 5px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

footer {
    color: #ffdede;
    opacity: 0.8;
}