{% extends "subbase.html" %}
{% block title %}Lines{% endblock %}

{% block content %}
<nav>
    <a href="/">Home</a>
    <a href="/metro">Metro</a>
</nav>
<h1>Lines</h1>
<p>The Dubai Metro currently has 47 stations and 2 lines- red and green. The red line spans across the Sheikh Zayed road, and the green line goes around the creek.</p>
<iframe src="https://www.google.com/maps/d/embed?mid=19Yf149BSoP3f8loLwhiqPzb29pY&hl=en&ehbc=2E312F" width="400" height="300"></iframe>
<p>The RTA has a <a href="https://www.rta.ae/wps/portal/rta/ae/public-transport/journeyplanner">journey planner</a> which allows users to state a start and end point, 
and get a route between the two points. The RTA's journey planner can be a good tool when starting to familiarize with the Metro.</p>
{% endblock %}