{% extends "subbase.html" %}
{% block title %}Metro Usage{% endblock %}

{% block content %}
<nav>
    <a href="/">Home</a>
    <a href="/metro">Metro</a>
</nav>
<h1>Metro Usage</h1>
<p>The Dubai Metro is one of the world's most advanced transportation systems. It is a driverless Metro that operates using 750 volts of direct current.</p>
<p>Metros contain an ATM which allows users to check their nol balance, as well as top up their cards.</p>
<p>The Metro contains multiple cabins- including a cabin for women and children, and a cabin for gold class members only. The gold class contains a special view of the front of the Metro, as well as has special seats with tray-tables.</p>
<iframe width="440.625" height="250" src="https://www.youtube.com/embed/C9TCyroZk1k" title="YouTube video player"
    frameborder="250" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<p>The Metro is used for a variety of purposes, from sightseeing to commuting. On any given day, the Metro handles over 350,000 passengers.</p>
<p>In order to use the Metro, users must first have a nol card with a minimum balance of 7.5 AED. More information about nol cards can be found in the nol card section of this website.</p>
{% endblock %}