{% extends "base.html" %}
{% block title %}Metro{% endblock %}

{% block content %}
<nav>
    <a href="/">Home</a>
    <a href="metro/usage">Usage</a>
    <a href="metro/lines">Lines</a>
</nav>
<h1>Metro</h1>
<p>The Dubai Metro is the world's longest driverless Metro. It sustains millions of passengers a year, and is one of Dubai's biggest public transport systems. Learn more about it by exploring the Metro section.</p>
<img src="https://i.ibb.co/ckbLyHm/metro-shuttle-service6d3e6060c81962bca3fcff00006281dd-1.png" alt="Metro">

{% endblock %}