{% extends "base.html" %} 
{% block title %}nol Cards{% endblock %} 
{% block content %} 

<nav> 
<a href="/">Home</a> 
<a href="nol/usage">Usage</a> 
<a href="nol/prices">Prices</a> 
</nav> 

<h1>nol Cards</h1> 
<p>nol Cards are contactless plastic smart cards that are necessary for use of the Metro. Learn more about nol cards by exploring the nol card section.</p> 
<img class="hover" src="https://www.rta.ae/wps/wcm/connect/rta/cc7a9b5a-ad69-4978-b0e3-e99e581f1a1b/gold-card%403x.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_N004G041LOBR60AUHP2NT32000-cc7a9b5a-ad69-4978-b0e3-e99e581f1a1b-lV.VQR2" alt="Gold nol card"> 
{% endblock %} 