{% extends "subbase.html" %}
{% block title %}nol Card Usage{% endblock %}

{% block content %}
<nav>
    <a href="/">Home</a>
    <a href="/nol">nol Cards</a>
</nav>
<h1>nol Card Usage</h1>
<p>There are many different <a href="https://www.rta.ae/wps/portal/rta/ae/public-transport/nol/choose-nol">varieties</a> of nol cards- red tickets (which are disposable and do 
not have the benefits of other nol cards), silver cards, gold cards, and personal cards.</p>
<img src="https://mediaoffice.ae/-/media/2021/july/27-07/04/nol-card.jpg?h=3834&w=3492&hash=30102F0A28819E9543A1B75287725D72" alt="nol cards" height="350">
<p>nol cards are versatile and aren't restricted to the Metro. They can be used for the tram, abra, ferry, water taxi, water bus, taxi, bus, and certain retail stores.</p>
<table>
    <tr>
        <th>Card Type</th>
        <th>Red ticket</th>
        <th>Silver card</th>
        <th>Gold card</th>
        <th>Personal card</th>
    </tr>
    <tr>
        <th>Usage</th>
        <td>Metro, tram and bus</td>
        <td>All RTA transportation, not including gold class, and some retail stores</td>
        <td>All RTA transportation including gold class, and some retail stores</td>
        <td>All RTA transportation, not including gold class, and some retail stores</td>
    </tr>
    <tr>
        <th>Validity</th>
        <td>90 days from issue, limited to 10 journeys</td>
        <td>5 years from purchase</td>
        <td>5 years from purchase</td>
        <td>5 years from issue</td>
    </tr>
</table>
<p>All in all, nol cards are a versatile type of contactless payment that apply not just to the Metro, but also all RTA transport vehicles and some retail environments.</p>
{% endblock %}